*.log
*.tlog
*.o
*.a
*.exe
/*.settings
*.pdb 
*.exp 
*.ilk 
*.user
obj/
*.rar
*.suo
*.sdf
*.ncb
*.bak
bin/
/*.suo
/bin
/obj
/ipch
*.pdb
*.tlog
*.log
*.obj
*.cache
*.pch
*.lastbuildstate
*.log
*.lastbuildstate
*.manifest
*.metagen
*.obj
*.pch
*.pdb
*.tlog
*.suo
*.sdf
NXOpen.UF.dll
NXOpen.Utilities.dll
NXOpen.Utilities.xml
NXOpen.dll
NXOpen.xml
NXOpenUI.dll
NXOpenUI.xml
/MdbOpenApi/MdbOpenApi/ipch/mdbopenapitest-d1e663ce/*.ipch
/MdbOpenApi/ipch
