<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <appSettings>
	
	<!-- 系统 IP 192.168.1.112 -->
	<add key="ELE_SERVER_IP" value="www.moldyun.com" />
	
	<!-- 系统 端口号 8080-->
	<add key="ELE_SERVER_PORT" value="80" />
	
	<!-- 测试 用户名 -->
	<add key="TEST_USERNAME" value="test@demo1" />
	
	<!-- 测试 密码 -->
	<add key="TEST_PASSWORD" value="test" />
	
	<!-- 用户登录URL -->
	<add key="ELE_USER_LOGIN" value="front/upms/user/login" />
	
	<!-- 文件下载接口 -->
	<add key="DOWNLOADFILE" value="front/bms/pdm/getfile.do?fileId=" />
		
	<!-- 通用 文件 上传 | 有此接口的使用新版上传接口 否则使用旧版上传接口 -->
	<add key="BmsFileUpload" value="front/bms/filePath/common/upload.do" />
	
	<!-- CAM任务下载URL -->
	<add key="ELE_CAM_TASK_PAGE" value="front/cam/api/v1/getCamTaskList.do" />
	
	<!--根据工段类型获取CAM任务 # (sectionTypeName) 否则 使用 section-->
	<add key="GET_TASK_BY_SECTION_TYPE_NAME" value="TRUE" />
	
	<!-- 上传NC信息 -->
	<add key="CNCUPLOAD" value="front/cam/api/v1/camTaskParameterUpload.do" />
	
	<!-- CAM任务完工 -->
	<add key="CAMFINISH" value="front/cam/api/v1/finishCamSchedule.do" />
	
	<!-- 获取 程式类型 -->
	<add key="CNCTemplate" value="front/cam/api/v1/getCncTemplate.do" />	
	
  </appSettings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>